In [50]:
from warnings import filterwarnings
filterwarnings('ignore')
import pandas as pd
import numpy as np

In [2]:
df_train= pd.read_csv("C:/Users/HP/Desktop/train.csv")

In [3]:
df_test = pd.read_csv("C:/Users/HP/Desktop/test.csv")

In [4]:
my_submission_file = pd.read_csv("C:/Users/HP/Desktop/submission.csv")

In [5]:
df_train.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [6]:
df_train.shape

(19237, 18)

In [7]:
df_train.columns

Index(['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [8]:
df_train.dtypes

ID                    int64
Price                 int64
Levy                 object
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

In [35]:
df_train['Mileage']=df_train['Mileage'].str.replace('km','')

In [36]:
df_train['Mileage']=df_train['Mileage'].astype(int)

In [12]:
df_train['Engine volume'].unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0 Turbo', '2.2 Turbo', '4.7', '1.5', '4.4', '3.0 Turbo',
       '1.4 Turbo', '3.6', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2',
       '2.3 Turbo', '1.4', '5.5', '2.8 Turbo', '3.2', '3.8', '4.6', '1.2',
       '5', '1.7', '2.9', '0.5', '1.8 Turbo', '2.4 Turbo', '3.5 Turbo',
       '1.9', '2.7', '4.8', '5.3', '0.4', '2.8', '3.2 Turbo', '1.1',
       '2.1', '0.7', '5.4', '1.3 Turbo', '3.7', '1', '2.5 Turbo', '2.6',
       '1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.8', '0.2 Turbo', '5.7',
       '4.8 Turbo', '4.6 Turbo', '6.7', '6.2', '1.2 Turbo', '3.4',
       '1.7 Turbo', '6.3 Turbo', '2.7 Turbo', '4.3', '4.2', '2.9 Turbo',
       '0', '4.0 Turbo', '20', '3.6 Turbo', '0.3', '3.7 Turbo', '5.9',
       '5.5 Turbo', '0.2', '2.1 Turbo', '5.6', '6', '0.7 Turbo',
       '0.6 Turbo', '6.8', '4.5', '0.6', '7.3', '0.1', '1.0 Turbo', '6.3',
       '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo', '6.4',
       '3.9', '5.7 Turbo', '0.9', '0.4 Turbo', '5.4 Turbo', '0.3 Turbo',
       '5.2', '5.8', '1.1 Turbo'], dtype=object)

In [44]:
df_train['Efficiency Factor']=df_train['Engine volume'].replace(['2.0 Turbo', '2.2 Turbo','3.0 Turbo','1.4 Turbo','1.5 Turbo','1.6 Turbo','2.3 Turbo','2.8 Turbo','1.8 Turbo', '2.4 Turbo', '3.5 Turbo', '3.2 Turbo','1.3 Turbo','2.5 Turbo','1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.2 Turbo','4.8 Turbo', '4.6 Turbo','1.2 Turbo','1.7 Turbo', '6.3 Turbo', '2.7 Turbo','2.9 Turbo', '4.0 Turbo','3.6 Turbo','3.7 Turbo','5.5 Turbo','2.1 Turbo','0.7 Turbo', '0.6 Turbo','1.0 Turbo', '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo','5.7 Turbo','0.4 Turbo', '5.4 Turbo', '0.3 Turbo','1.1 Turbo'],'Turbo')

In [57]:
df_train['Efficiency Factor']=df_train['Efficiency Factor'].replace(['3.5','3','1.3','2.5','2','1.8','2.4','4','1.6','3.3','4.7','1.5','4.4','3.6','2.3','2.2','1.4','5.5','3.2','3.8','4.6','1.2','5', '1.7', '2.9', '0.5','1.9','2.7','4.8','5.3','0.4','2.8','1.1','2.1','0.7','5.4','3.7','1','2.6','5.7','3.4','4.3','4.2','5.9','6.8','4.5','0.6','7.3','0.1','6.3','6.4','5.2','5.8','0.8', '6.7', '6.2', '0', '20', '0.3', '0.2','5.6', '6', '3.9', '0.9'],'Non-Turbo')

In [58]:
df_train['Engine volume'].astype(str).str.replace('Turbo',' ')

0          3.5
1            3
2          1.3
3          2.5
4          1.3
         ...
19232    2.0
19233      2.4
19234        2
19235        2
19236      2.4
Name: Engine volume, Length: 19237, dtype: object

In [59]:
df_train['Engine volume'].unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0 Turbo', '2.2 Turbo', '4.7', '1.5', '4.4', '3.0 Turbo',
       '1.4 Turbo', '3.6', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2',
       '2.3 Turbo', '1.4', '5.5', '2.8 Turbo', '3.2', '3.8', '4.6', '1.2',
       '5', '1.7', '2.9', '0.5', '1.8 Turbo', '2.4 Turbo', '3.5 Turbo',
       '1.9', '2.7', '4.8', '5.3', '0.4', '2.8', '3.2 Turbo', '1.1',
       '2.1', '0.7', '5.4', '1.3 Turbo', '3.7', '1', '2.5 Turbo', '2.6',
       '1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.8', '0.2 Turbo', '5.7',
       '4.8 Turbo', '4.6 Turbo', '6.7', '6.2', '1.2 Turbo', '3.4',
       '1.7 Turbo', '6.3 Turbo', '2.7 Turbo', '4.3', '4.2', '2.9 Turbo',
       '0', '4.0 Turbo', '20', '3.6 Turbo', '0.3', '3.7 Turbo', '5.9',
       '5.5 Turbo', '0.2', '2.1 Turbo', '5.6', '6', '0.7 Turbo',
       '0.6 Turbo', '6.8', '4.5', '0.6', '7.3', '0.1', '1.0 Turbo', '6.3',
       '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo', '6.4',
       '3.9', '5.7 Turbo', '0.9', '0.4 Turbo', '5.4 Turbo', '0.3 Turbo',
       '5.2', '5.8', '1.1 Turbo'], dtype=object)

In [64]:
df_train['Engine volume'] = df_train['Engine volume'].str.replace('Turbo', ' ')

In [65]:
df_train['Engine volume']=df_train['Engine volume'].astype(float)

In [52]:
df_train.Cylinders

0        6.0
1        6.0
2        4.0
3        4.0
4        4.0
        ...
19232    4.0
19233    4.0
19234    4.0
19235    4.0
19236    4.0
Name: Cylinders, Length: 19237, dtype: float64

In [23]:
df_train=df_train.drop(columns=['ID','Manufacturer','Model'])

In [24]:
df_train['Cylinders']=df_train['Cylinders'].astype(str)

In [25]:
df_train['Prod. year']=df_train['Prod. year'].astype(str)

In [75]:
df_train['Levy']=df_train['Levy'].replace('-',np.nan)

In [76]:
df_train['Levy']=df_train['Levy'].astype(float)

In [77]:
df_train.isnull().sum()

ID                      0
Price                   0
Levy                 5819
Manufacturer            0
Model                   0
Prod. year              0
Category                0
Leather interior        0
Fuel type               0
Engine volume           0
Mileage                 0
Cylinders               0
Gear box type           0
Drive wheels            0
Doors                   0
Wheel                   0
Color                   0
Airbags                 0
Efficiency Factor       0
Efficiency Fcator       0
dtype: int64

In [78]:
df_train['Levy']=df_train['Levy'].fillna(df_train['Levy'].mean())

In [79]:
df_train['Levy'].isnull().sum()

0

In [80]:
df_train.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Efficiency Factor,Efficiency Fcator
0,45654403,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,0.175,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,Non-Turbo,Non-Turbo
1,44731507,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,0.150,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,Non-Turbo,Non-Turbo
2,45774419,8467,906.838128,HONDA,FIT,2006,Hatchback,No,Petrol,0.065,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2,Non-Turbo,Non-Turbo
3,45769185,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,0.125,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0,Non-Turbo,Non-Turbo
4,45809263,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,0.065,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4,Non-Turbo,Non-Turbo

In [81]:
num=[]
cat=[]
for i in df_train.columns:
    if df_train[i].dtypes==object:
        cat.append(i)
    else:
        num.append(i)
        
print("The numerical data : ",num)
print('The Categorical_data : ',cat)

The numerical data :  ['ID', 'Price', 'Levy', 'Prod. year', 'Engine volume', 'Mileage', 'Cylinders', 'Airbags']
The Categorical_data :  ['Manufacturer', 'Model', 'Category', 'Leather interior', 'Fuel type', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color', 'Efficiency Factor', 'Efficiency Fcator']

In [82]:
df_target=df_train['Price']

In [83]:
df_train['Levy']=df_train['Levy']/df_train['Levy'].max()

In [84]:
df_train['Engine volume']=df_train['Engine volume']/df_train['Engine volume'].max()

In [85]:
num_data=df_train[['Levy','Engine volume','Mileage','Airbags']]

In [86]:
cat_data=df_train[['Prod. year', 'Category', 'Leather interior', 'Fuel type', 
                      'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color', 'Efficiency Factor']]

In [87]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder

In [88]:
numerical_df=pd.DataFrame(StandardScaler().fit_transform(num_data),columns=num_data.columns)

In [89]:
categorical_df=pd.DataFrame(OrdinalEncoder().fit_transform(cat_data),columns=cat_data.columns)

In [90]:
new_df=pd.concat([numerical_df,categorical_df],axis=1)

In [91]:
x=new_df.copy()
y=df_target.copy()

In [93]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=5)
import statsmodels
import statsmodels.api as sm
mlr_model=sm.OLS(y_train,x_train).fit()
mlr_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Price   R-squared (uncentered):                   0.567
Model:                            OLS   Adj. R-squared (uncentered):              0.567
Method:                 Least Squares   F-statistic:                              1259.
Date:                Tue, 13 Jul 2021   Prob (F-statistic):                        0.00
Time:                        14:19:36   Log-Likelihood:                     -1.6058e+05
No. Observations:               14427   AIC:                                  3.212e+05
Df Residuals:                   14412   BIC:                                  3.213e+05
Df Model:                          15
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Levy                490.6060    170.167      2.883      0.004     157.057     824.155
Engine volume      5230.6840    258.496     20.235      0.000    4723.999    5737.369
Mileage              41.2860    127.950      0.323      0.747    -209.513     292.085
Airbags           -2479.8975    146.101    -16.974      0.000   -2766.274   -2193.521
Prod. year          797.4124     19.946     39.978      0.000     758.315     836.510
Category           -845.5846     53.484    -15.810      0.000    -950.420    -740.749
Leather interior   1731.6559    376.021      4.605      0.000     994.607    2468.705
Fuel type          -403.3112     79.324     -5.084      0.000    -558.797    -247.825
Cylinders         -2731.8520    174.088    -15.692      0.000   -3073.086   -2390.618
Gear box type      3533.8698    170.073     20.779      0.000    3200.504    3867.235
Drive wheels       -306.9627    254.698     -1.205      0.228    -806.203     192.278
Doors             -4175.3667    659.060     -6.335      0.000   -5467.209   -2883.524
Wheel             -5461.7814    575.673     -9.488      0.000   -6590.174   -4333.389
Color               -94.1010     25.853     -3.640      0.000    -144.776     -43.426
Efficiency Factor  1.097e+04    477.728     22.964      0.000       1e+04    1.19e+04
==============================================================================
Omnibus:                    11120.028   Durbin-Watson:                   1.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           525917.828
Skew:                           3.282   Prob(JB):                         0.00
Kurtosis:                      31.841   Cond. No.                         222.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [102]:
x_train.head()

,Levy,Engine volume,Mileage,Airbags,Prod. year,Category,Leather interior,Fuel type,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Efficiency Factor
10819,-7.735628e-02,-0.692644,-0.029098,-0.597823,50.0,4.0,1.0,1.0,3.0,0.0,1.0,1.0,0.0,14.0,0.0
966,-6.943787e-01,-0.350873,-0.022771,-0.597823,47.0,9.0,1.0,4.0,3.0,0.0,1.0,1.0,0.0,12.0,0.0
2828,-1.168812e+00,0.218745,-0.031656,1.254005,48.0,9.0,1.0,2.0,3.0,0.0,1.0,1.0,0.0,1.0,0.0
6899,4.411500e-01,-0.350873,-0.031488,-0.597823,52.0,9.0,1.0,5.0,3.0,0.0,1.0,1.0,0.0,7.0,0.0
14402,4.214533e-16,-0.350873,-0.026491,-0.597823,28.0,9.0,0.0,0.0,3.0,1.0,2.0,1.0,0.0,2.0,0.0

In [103]:
y_test.head()

18056    20266
7782      9600
11589    53872
10316    14113
8355        78
Name: Price, dtype: int64

In [104]:
x_test.head()

,Levy,Engine volume,Mileage,Airbags,Prod. year,Category,Leather interior,Fuel type,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Efficiency Factor
18056,-8.395604e-01,-0.806567,-0.029073,-0.597823,44.0,9.0,1.0,5.0,3.0,0.0,1.0,1.0,0.0,14.0,0.0
7782,4.214533e-16,-1.148338,-0.028743,0.328091,41.0,9.0,0.0,5.0,3.0,0.0,1.0,1.0,1.0,7.0,0.0
11589,-3.677198e-01,-0.350873,-0.030654,-0.597823,48.0,4.0,1.0,1.0,3.0,0.0,1.0,1.0,0.0,12.0,0.0
10316,4.214533e-16,0.788363,-0.025706,0.791048,38.0,4.0,1.0,5.0,5.0,0.0,0.0,1.0,0.0,12.0,0.0
8355,1.291500e+00,0.788363,-0.026907,-1.523737,42.0,4.0,1.0,1.0,5.0,0.0,0.0,1.0,0.0,6.0,0.0

In [122]:
my_submission = pd.DataFrame({'Price': y_test})
# you could use any filename. We choose submission here
my_submission.to_csv('C:/Users/HP/Desktop/my_submission_file.csv', index=False)

In [123]:
df=pd.read_csv('C:/Users/HP/Desktop/my_submission_file.csv')

In [124]:
df.describe()

              Price
count  4.810000e+03
mean   2.302055e+04
std    3.797945e+05
min    1.000000e+00
25%    5.488000e+03
50%    1.346950e+04
75%    2.257675e+04
max    2.630750e+07